<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Login</title>
<link rel="stylesheet" href="../static/css/login.css" />
</head>
<body>
<div class="form-container">
<h2>Login</h2>
<input type="text" id="loginUser" placeholder="Username" />
<input type="password" id="loginPass" placeholder="Password" />
<button onclick="login()">Kirish</button>
<p>Akkauntingiz yo‘qmi? <a href="/register">Ro‘yxatdan o‘tish</a></p>
</div>
<script src="../static/css/login.js"></script>
</body>
</html>