<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Ro‘yxatdan o‘tish</title>
<link rel="stylesheet" href="../static/css/register.css" />
</head>
<body>
<div class="form-container">
<h2>Ro‘yxatdan o‘tish</h2>
<input type="text" id="regUser" placeholder="Username" />
<input type="password" id="regPass" placeholder="Password" />
<button onclick="register()">Ro‘yxatdan o‘tish</button>
<p>Akkauntingiz bormi? <a href="/login">Kirish</a></p>
</div>
<script src="../static/css/register.js"></script>
</body>
</html>